@model IEnumerable<WebMvc.Models.BusViewModel>
@{
    ViewData["Title"] = "Manager Dashboard";
}
<h2>Manager Dashboard</h2>
<div class="btn-container">
    <a href="BusView" class="btn">Buses</a>
    <a href="DriverView" class="btn">Drivers</a>
    <a href="EntryView" class="btn">Entries</a>
    <a href="LoopView" class="btn">Loops</a>
    <a href="RouteView" class="btn">Routes</a>
    <a href="StopView" class="btn">Stops</a>
    <a href="Report" class="btn">Report</a>
    <a href="MapView" class="btn">Map</a>
</div>

<style>
    .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Adjust alignment as needed */
    }
    
    .btn {
        flex-grow: 1; /* Allow buttons to stretch */
        padding: 10px 20px;
        margin: 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-size: 40px;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }
</style>