@model IEnumerable<WebMvc.Models.LoopViewModel>
@{
    ViewData["Title"] = "Loop List";
}
<h2>Loop List</h2>
<a asp-action="HomeView">Back to List</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="LoopEdit" asp-route-id="@item.Id">Edit</a> | <form asp-action="LoopDelete"
                        asp-route-id="@item.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-action="LoopCreate">Create a new Loop</a>
