@model IEnumerable<WebMvc.Models.StopViewModel>
@{
    ViewData["Title"] = "Map";
}
<h2>Map</h2>
<a asp-action="HomeView">Back to List</a>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9P33QDKIkNN9JSLfCOgiwrKOThW-3EBk&callback=initMap">
    </script>
<div id="map" style="height: 400px; width: 100%;"></div>
</tbody>
<script>
    function initMap() {
        var options = {
            zoom: 14,
            center: { lat: 40.20276339942454, lng: -85.40622863315673 }
        }

        var map = new google.maps.Map(document.getElementById('map'), options);

        @foreach (var stop in Model)
    {
        @:addMarker({ lat: @stop.Latitude, lng: @stop.Longitude, content: '@stop.Name' });
    }

            function addMarker(props) {
                var marker = new google.maps.Marker({
                    position: props,
                    map: map,
                });

                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                    });

                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                }
            }
    }
</script>
