@model WebMvc.Models.RouteCreateModel
@{
    ViewData["Title"] = "Create Route";
}
<h2>Create Route</h2>
<a asp-action="RouteView">Back to List</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="RouteCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LoopId" class="control-label">Loop</label>
                <select asp-for="LoopId" class="form-control" asp-items="ViewBag.AvailableLoops"></select>
                <span asp-validation-for="LoopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopId" class="control-label">Loop</label>
                <select asp-for="StopId" class="form-control" asp-items="ViewBag.AvailableStops"></select>
                <span asp-validation-for="StopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
